header{
    background: rgb(19, 18, 18);
    padding: 10px;
    margin: 10px;
    border-radius: 15%;
    font-family: $tipografiaGeneral;
    nav {
        .navbar {
            border-radius: 10%;
        }
    }
}