main {
    center{
        .formulaio {
            width: 50%;
            margin: 0 auto;
            border: rgb(219, 215, 215) solid 2px;
            padding: 1rem;
            .form-label {
                color: white;
            }
            
            .form-text {
                color: white;
            }
            
            .form-check-label {
                color: white;
            }
        }
    }
    
}